# external repos
# llms/ subdirs include poro, llama, gpt3-finnish
llms
# github.com:flammie/omorfi.git
omorfi
# github.com:google-research-datasets/turkish-treebanks.git
turkish-treebanks

# data
omorfi-inflect/data
inflected
*.input
*.ref
*.pkl
*.jsonl
*.json
data/corpora
data/*.txt*
data/*.backup
lemma2feats*
data/inflected_shortlist_nouns/omorstrings.txt

# other
log
data/stats
data/inflected_1000_nouns
__pycache__
