# external repos
# llms/ subdirs include poro, llama, gpt3-finnish
llms
# github.com:flammie/omorfi.git
omorfi
# github.com:google-research-datasets/turkish-treebanks.git
turkish-treebanks

# data
omorfi-inflect/data
inflected
*.input
*.ref
*.pkl
*.jsonl
*.json
*.buff
*.plain
lemma2feats*
data/fairseq

# other
__pycache__
checkpoints
evaluation
expts/pre*
data/corpora/
data/inflected_shortlist_nouns/
data/form_freqs*
data/omorfi_verb*
data/omorfi_adj*

# big files
data/omorfi_noun_lexemes_filtered.txt
data/omorfi_noun_lexemes_filtered_inflected_all.txt
data/omorfi_noun_lexemes_filtered_inflected_all_filtered.txt
data/omorfi_noun_lexemes_filtered_inflected_all_filtered_form2feats.txt
